

/* 배너 이미지 스타일 */
.banner img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
}



.slick-slide {
    margin: 10px;
    position: relative; /* 추가 */
    z-index: 0; /* 슬라이드 요소 위로 */
}

.slider_div {
    position: relative;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* 추가 */
}

.slider .slick-prev:before,
.slider .slick-next:before {
    color: #444444;
    font-size: 24px; /* 추가 */
  
}


.product-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
    line-height: normal;
    word-break: break-all;
    font-weight: bold;
}

.product-price {
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
.product-tage {
    margin-top: 10px;
    color: grey;
    font-size: 12px;

}




.wrap_center_main .likeempty {
    font-size: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    color: #00b7d4;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    transition: color 0.3s ease-in-out;
  }
  
  .wrap_center_main .product-item:hover .likeempty {
    color: #8d1616;
  }
  .wrap_center_main .fa-heart{
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  .wrap_center_main likeempty .fa-regular,
  .fa-solid {
    position: absolute;
    color: #00b7d4;
  }
  
  .wrap_center_main likeempty .fa-regular {
    display: block;
  }
  
  .wrap_center_main likeempty .fa-solid {
    display: none;
  }